<nav class="navbar navbar-expand-lg navbar-light 
	{{^config.inline}}
	fixed-top
	{{/config.inline}} bg-transparent mb-3">
	<div class="{{config.container}}">
		<button class="navbar-toggler mb-1" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#ifm-navbarCollapse" data-bs-target="#ifm-navbarCollapse" aria-controls="ifm-navbarCollapse" aria-expanded="true" aria-label="{{i18n.toggle_nav}}">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="ifm-navbarCollapse">
			<div class="navbar-nav mr-auto">
				<form class="form-inline mt-2 mt-md-0">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="currentDirLabel">{{i18n.path_content}} {{showpath}}</span>
						</div>
						<input class="form-control" id="currentDir" aria-describedby="currentDirLabel" type="text">
					</div>      
				</form>
			</div>
			<ul class="navbar-nav">
				{{#config.showrefresh}}
				<li class="nav-item">
					<a id="refresh" class="nav-link"><span title="{{i18n.refresh}}" class="ifm-icon ifm-icon-arrows-cw" href="#"></span> <span class="d-inline d-lg-none">{{i18n.refresh}}</span></a>
				</li>
				{{/config.showrefresh}}
				{{#config.search}}
				<li class="nav-item">
					<a id="search" class="nav-link"><span title="{{i18n.search}}" class="ifm-icon ifm-icon-search" href="#"></span> <span class="d-inline d-lg-none">{{i18n.search}}</span></a>
				</li>
				{{/config.search}}
				{{#config.upload}}
				<li class="nav-item">
					<a id="upload" class="nav-link"><span title="{{i18n.upload}}" class="ifm-icon ifm-icon-upload" href="#"></span> <span class="d-inline d-lg-none">{{i18n.upload}}</span></a>
				</li>
				{{/config.upload}}
				{{#config.createfile}}
				<li class="nav-item">
					<a id="createFile" class="nav-link"><span title="{{i18n.file_new}}" class="ifm-icon ifm-icon-doc-inv" href="#"></span> <span class="d-inline d-lg-none">{{i18n.file_new}}</span></a>
				</li>
				{{/config.createfile}}
				{{#config.createdir}}
				<li class="nav-item">
					<a id="createDir" class="nav-link"><span title="{{i18n.folder_new}}" class="ifm-icon ifm-icon-folder" href="#"></span> <span class="d-inline d-lg-none">{{i18n.folder_new}}</span></a>
				</li>
				{{/config.createdir}}
				{{#config.createdirthumbs}}
				<li class="nav-item">
					<a id="createDirThumbs" class="nav-link"><span title="{{i18n.thumbs_folder_new}}" class="ifm-icon ifm-icon-file-image" href="#"></span> <span class="d-inline d-lg-none">{{i18n.thumbs_folder_new}}</span></a>
				</li>
				{{/config.createdirthumbs}}
				{{#config.remoteupload}}
				<li class="nav-item">
					<a class="nav-link" href="#" id="buttonRemoteUpload"><span class="ifm-icon ifm-icon-upload-cloud"></span> <span class="d-inline d-lg-none">{{i18n.upload_remote}}</span></a>
				</li>
				{{/config.remoteupload}}
				{{#config.ajaxrequest}}
				<li class="nav-item">
					<a class="nav-link" href="#" id="buttonAjaxRequest"><span class="ifm-icon ifm-icon-link-ext"></span> <span class="d-inline d-lg-none">{{i18n.ajax_request}}</span></a>
				</li>
				{{/config.ajaxrequest}}
				{{#config.auth}}
				<li class="nav-item">
					<a class="nav-link" href="?api=logout" id="buttonLogout"><span class="ifm-icon ifm-icon-logout"></span> <span class="d-inline d-lg-none">{{i18n.logout}}</span></a>
				</li>
				{{/config.auth}}
			</ul>
		</div>
	</div>
</nav>
<div id="filedropoverlay">
	<h1>{{i18n.upload_drop}}</h1>
</div>
<main role="main">
	<div class="{{config.container}}">
		<table id="filetable" class="table">
			<thead>
				<tr>
					<th class="th-meta hidden" data-visible="false"></th>
					<th class="th-filename">{{i18n.filename}}</th>
					{{#config.download}}
					<th class="th-download"></th>
					{{/config.download}}
					{{#config.showlastmodified}}
					<th class="th-lastmod">{{i18n.last_modified}}</th>
					{{/config.showlastmodified}}
					{{#config.showfilesize}}
					<th class="th-size">{{i18n.size}}</th>
					{{/config.showfilesize}}
					{{#config.showdimensions}}
					<th class="th-dimensions d-none d-md-table-cell">{{i18n.dimensions}}</th>
					{{/config.showdimensions}}
					{{#config.showpermissions}}
					<th class="th-permissions d-none d-md-table-cell">{{i18n.permissions}}</th>
					{{/config.showpermissions}}
					{{#config.showowner}}
					<th class="th-owner d-none d-lg-table-cell">{{i18n.owner}}</th>
					{{/config.showowner}}
					{{#config.showgroup}}
					<th class="th-group d-none d-xl-table-cell">{{i18n.group}}</th>
					{{/config.showgroup}}
					<th class="th-buttons buttons"></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>        
	</div>
</main>
