{{#items}}
<tr class="clickable-row {{rowclasses}}" {{{dragdrop}}} data-id="{{guid}}" data-filename="{{name}}" data-eaction="{{eaction}}">
	{{#fixtop}}
	<td data-order="{{fixtop}}"></td>
	{{/fixtop}}
	{{^fixtop}}
	<td data-order="0"></td>
	{{/fixtop}}
	<td>
		<a href="{{{link}}}" tabindex="0" id="{{guid}}" class="ifmitem" {{{popover}}} data-type="{{type}}" target="_blank">
			{{#thumb}}
			<img class="ifm-thumb object-fit-cover rounded" src="{{{link}}}">
			{{/thumb}}
			{{^thumb}}
			<span class="{{icon}}"></span>
			{{/thumb}}
			{{linkname}}
		</a>
	</td>
	{{#config.download}}
	<td>
		<span data-id="{{guid}}" class="ifm-context-menu ifm-icon ifm-icon-cog"></span>
	</td>
	{{/config.download}}
	{{#config.showlastmodified}}
	<td data-order="{{lastmodified}}">{{lastmodified_hr}}</td>
	{{/config.showlastmodified}}
	{{#config.showfilesize}}
	<td class="d-none d-md-table-cell" data-order="{{size_raw}}">{{size}}</td>
	{{/config.showfilesize}}
	{{#config.showdimensions}}
	<td class="d-none d-md-table-cell">{{dimensions}}</td>
	{{/config.showdimensions}}
	{{#config.showpermissions}}
	<td class="d-none d-lg-table-cell">
		<input type="text" size="11" name="newpermissions" class="form-control {{filepermmode}}" value="{{fileperms}}" data-filename="{{name}}" {{readonly}}>
	</td>
	{{/config.showpermissions}}
	{{#config.showowner}}
	<td class="d-none d-lg-table-cell">
		{{owner}}
	</td>
	{{/config.showowner}}
	{{#config.showgroup}}
	<td class="d-none d-xl-table-cell">
		{{group}}
	</td>
	{{/config.showgroup}}
	<td class="d-none d-md-table-cell">
		{{#button}}
		<a tabindex="0" name="do-{{action}}" data-id="{{guid}}">
			<span class="{{icon}}" title="{{title}}"</span>
		</a>
		{{/button}}
	</td>
</tr>
{{/items}}
