<form id="searchForm">
<div class="modal-header">
	<h5 class="modal-title">{{i18n.search}}</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	<fieldset>
		<div class="form-group">
			<label for="searchPattern">{{i18n.search_pattern}}:</label>
			<input type="search" class="form-control" id="searchPattern" name="pattern" autocomplete="off" value="{{lastSearch}}">
		</div>
		<table id="searchResults" class="table">
		</table>
	</fieldset>
</div>
</form>
