<form id="formCopyMove">
<fieldset>
	<div class="modal-header">
		<h5 class="modal-title">{{i18n.copy}}/{{i18n.move}}</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="copyMoveTree">{{i18n.select_destination}}:</label>
			<div id="copyMoveTree"><div class="text-center"><span class="ifm-icon ifm-icon-spin5 animate-spin"></span></div></div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" id="copyButton">{{i18n.copy}}</button>
		<button type="button" class="btn btn-secondary" id="moveButton">{{i18n.move}}</button>
		<button type="button" class="btn btn-danger" id="cancelButton">{{i18n.cancel}}</button>
	</div>
</fieldset>
</form>
